* {
	font-family: "LucidaGrande", sans-serif;
}

.row {
	padding: 10px;
}

.input-field {
	border-radius: 5%;
	border: none;
}

p {
	text-align:center;
}

a {
        color: #c7e3ff;
		text-decoration: none;
}

a:hover {
        color: #ffffff;
		text-decoration: none;
}

.div {
	margin-bottom: 2rem;
}

button
{
	font-size:12px;
	border:1px solid;
	border-radius: 10px;
	height:30px;
	margin: 5px;
	transition: .3s;
}

button:hover
{
	font-size:12px;
	border:1px solid;
	border-radius: 10px;
	height:30px;
	margin: 5px;
	color: white;
	background-color: rgb(109, 109, 109);
}

input[type=text]
{
	height:12px;
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}
